
 * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    }
 
 html {
    font-size: 62.5%;
 }
 
 body {
    font-family:'Montserrat', sans-serif; 
    background-color: #e9edc9; 
 }
 img {
    max-width: 100%;
   }
 
 .logo {
    width: 20rem;
 }
 
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .barra-navegacion-principal li {
       
        list-style-type: none;
        font-size: 2rem;
        display: inline;
        margin-right: 3rem;        
 }
 
 .barra-navegacion-principal li a {
    color: black;
    text-decoration: none;
    background-color: #d4e09b;
    padding: 2rem 3rem 2rem 3rem;
 }
 
 .barra-navegacion-principal li a:hover {
    color: black;
    text-decoration: none;
    background-color: #a3b18a;
    padding: 2rem 3rem 2rem 3rem;
 }
 
 h1 {
    color: #d4a373;
    font-size: 5rem;
    font-weight: bold;
   
 }
 
 p {
    color: #283618;
    font-weight: bold;
    font-size: 2rem;
    text-align: justify;
    
 }
 
 .letra-mas-fina {
    font-size: 2rem;
    font-weight: lighter;
 }
 
 .barra-navegacion-pie-pagina li a {
    list-style-type: none;
    text-decoration: none;
    line-height: 1.6;
    color: black;
    font-size: 1.5rem;
 }
 
 
 .barra-navegacion-pie-pagina li a:hover {
    list-style-type: none;
    text-decoration: none;
    line-height: 1.6;
    color: black;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: bolder;
 }
 
 footer {
    background-color: #dda15e ;
 }
 
 h2 {
    font-size: 4rem;
    color: #d5bdaf;
    margin: 3rem;
 }
 
 h3 {
 text-align: center;
 font-size: 1.5rem;
 }
 
 .derechos {
    font-weight: lighter;
    text-align: center;
    font-size: 1.5rem;
 }
 
 /*Fin de estilos generales*/
 
 
 /*inicio estilos index*/
 .bienvenida {
    display: flex;
    justify-content: center;
    margin-left: 3rem;
 }
 
 .bienvenida div {
    margin: 3rem;
 }
 
 .bienvenida .cinque-terre { 
    width: 260rem; 
    height: 50rem;
 }
 
 .aproximacion-inicial {
    display: flex;
    margin: 1rem;
 }
 
 .aproximacion-inicial div {
    border: solid 0.3rem #d4a373;
    padding: 4rem;
    display: inline-block;
    overflow: hidden;
    text-align: center; 
    justify-content: space-between;
    margin: 0.5rem;
 }
 
 .aproximacion-inicial div:hover {
    border: solid 0.3rem #d4a373;
    padding: 4rem;
    display: inline-block;
    overflow: hidden;
    text-align: center; 
    justify-content: space-between;
    margin: 0.5rem;
    background-color: #efebce;
    transform: scale(1.1 , 1.1);
 }
 
 .dumbo {
    width: 30rem;
    height: 22rem;
 }
 
 .atardecer-NY {
    width: 30rem;
    height: 22rem;
 }
 
 .foto-torre-eiffel {
    width: 30rem;
    height: 22rem;
 }
  
 
 .container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: .10fr .1fr 1.5fr 1.5fr 0.1fr; 
    gap: 1px 1px; 
    grid-template-areas: 
      "header header"
      "hola hola"
      "bienvenida bienvenida"
      "aproximacion-inicial aproximacion-inicial"
      "footer-index footer-index"; 
  }
  .header {
    justify-self: stretch; 
    grid-area: header; 
  }
  .hola {
    margin-left: 3rem;
    margin-top: 0.5rem;
    justify-self: start; 
    align-self: stretch; 
    grid-area: hola; 
  }
  
  .bienvenida {
    justify-self: center; 
    align-self: center; 
    grid-area: bienvenida; 
  }
 
  .aproximacion-inicial {
    justify-self: stretch; 
    grid-area: aproximacion-inicial; 
  }
 
  .footer-index 
  { grid-area: footer-index; }

/*Fin estilos index*/


/* inicio estilos sobre mi*/
.texto-y-foto-sobre-mi {
   display: grid;
   grid-template-areas: 
   "foto titulo"
   "foto texto";
   grid-template-columns: 385px 800px;
   grid-template-rows: 300px 350px;
   grid-column-gap: 6rem;
   grid-row-gap: 1rem;
   border: solid #dda15e;
   margin: 2rem;
}

.titulo-sobre-mi{
   grid-area: titulo;
   justify-items: center;
   align-items: end;
   align-content: center;
   margin-left: 5rem;
   margin-top: 6rem;
}
.imagen-personal {
grid-area: foto;
justify-items: center;
justify-content: center;
align-items: center;
align-content: center;
padding: 4rem;
margin-top: 3rem;
}

.sobre-mi {
    font-weight: 400;
    margin: 0.5rem 2rem;
    grid-area: texto;
   
}
/*Fin estilos sobre mi*/


/*inicio estilos tips y noticias*/


.tips-y-recomendaciones {
    display: flex;
    margin: 1rem;
}

.tips-y-recomendaciones div {
    border: solid 0.3rem #d4a373;
    padding: 4rem;
    display: inline-block;
    overflow: hidden;
    text-align: center; 
    justify-content: space-between;
    margin: 0.5rem;
}

.tips-y-recomendaciones div:hover {
   border: solid 0.3rem #d4a373;
   padding: 4rem;
   display: inline-block;
   overflow: hidden;
   text-align: center; 
   justify-content: space-between;
   margin: 0.5rem;
   background-color: #efebce;
   transform: scale(1.1 , 1.1);
}
.noticias {
    display: flex;
    justify-content: center;
    margin: 1rem;    
}

.noticias div {
    border: solid 0.3rem #d4a373;
    padding: 4rem;
    display: inline-block;
    overflow: hidden;
    text-align: center; 
    justify-content: center;
    margin: 0.5rem;
   
}

.noticias div:hover {
   border: solid 0.3rem #d4a373;
   padding: 4rem;
   display: inline-block;
   overflow: hidden;
   text-align: center; 
   justify-content: center;
   margin: 0.5rem;
   background-color: #efebce;
   transform: scale(1.1 , 1.1); 
   
}

.dolar {
    width: 30rem;
    height: 18rem;
}

.ecoturismo {
    width: 30rem;
    height: 20rem;
}
/*Fin estilos tips y noticias*/


/*inicio estilos Galeria*/
.galeria-imagenes-y-fotos div {
    display: inline-block;
    overflow: hidden;
    text-align: center; 
    justify-content: space-between;
    margin: 2rem;    
}
.galeria-imagenes-y-fotos div:hover {
    display: inline-block;
    overflow: hidden;
    text-align: center; 
    justify-content: space-between;
    margin: 2rem;    
    transform: scale(1.1 , 1.1);
 }
.coliseo {
    width: 40rem;
    height: 30rem;
}

.gondolas {
    width: 40rem;
    height: 30rem;
}

.canal-amsterdam {
    width: 40rem;
    height: 30rem;
}

.barceloneta {
    width: 40rem;
    height: 23rem;
}

.pontevecchio {
    width: 40rem;
    height: 30rem;
}

.tayrona {
    width: 40rem;
    height: 23rem;
}


/*Fin estilos Galerias*/


/*inicio estilos Contacto*/
.titulo-form {
    margin-left: 2rem;
}

fieldset {
    font-size: 3rem ;
}

label {
    font-size: 2rem;
    line-height: 1.6;
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.formulario-contacto {
    width: 100%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

input {
    width: 90%;
    height: 30px;
    margin: 1.5rem;
}

input:hover {
    width: 90%;
    height: 40px;
    margin: 0.5rem;
    background-color: #f4f3ee
    }
 
 input:focus {
       width: 90%;
       height: 40px;
       margin: 0.5rem;
    }

.comentario {
    margin: 2rem;
    
}

textarea {
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}

textarea:hover {
    margin-left: 1.5rem;
    background-color: #f4f3ee
 }

.botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
}
/*Fin estilos Contacto*/