.titulo-form {
    margin: 2rem 0rem 2rem 0rem;
}

fieldset {
    font-size: 3rem;
    background-color: #edede9;
}

.info-contacto{
    font-size: 2.5rem;
    text-decoration: underline;
    margin: 1rem;
}

label {
    font-size: 2rem;
    line-height: 1.6;
    margin: 2rem 0rem 2rem 1rem;
}

.formulario-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

input {
    @include size (90%, 30px);
    margin: 1.5rem;
    font-size: medium;
&:hover {
    @include size (90%, 40px);
    margin: 0.5rem;
    background-color: #f4f3ee
}
&:focus {
   @include size (90%, 40px);
   margin: 0.5rem;   
}}

.comentario {
    margin: 2rem;
}

textarea {
    margin: 0rem 0rem 2rem 1.5rem;
    width: 90%;
&:hover {
    margin-left: 1.5rem;
    background-color: #f4f3ee
}}

.botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
}

@media screen and (max-width:768px) {
    .titulo-principal-form {
        font-size: 4rem;
        text-align: center;
    }    
    .titulo-form {
        margin: 1rem 1rem 0rem 1rem;
        font-size: 2rem;
     }
    .formulario-contacto {
        max-width:100%;
    }
    }

  
@media screen and (max-width:453px) {
    .formulario-contacto {
        max-width:100%;
    }
    }
    
@media screen and (max-width:399px) {
    .formulario-contacto {
        max-width:100%;
        padding: 2rem;
    }
    .titulo-principal-form {
        font-size: 3rem;
    }
    .titulo-form {
        font-size: 1.5rem;
    }
    .info-contacto{
        font-size: 2rem;
    }
    label {
        font-size: 1.5rem;
    }
}    
@media screen and (max-width:320px) {
    .formulario-contacto {
        max-width:100%;
        padding: 1rem;
        font-size: inherit;
    }
}