.carouseles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
 
 .carousel1 {
    width: 42rem;
    margin-bottom: 4rem;
    border: solid 0.3rem #d4a373;
    padding: 2rem;
    padding-bottom: 10rem;
    background-color: white;
 }
 
 .carousel2 {
    width: 42rem;
    margin-bottom: 4rem;
    border: solid 0.3rem #d4a373;
    padding: 2rem;
    padding-bottom: 10rem;
    background-color: white;
 }
 
 .carousel3 {
    width: 42rem;
    margin-bottom: 4rem;
    border: solid 0.3rem #d4a373;
    padding: 2rem;
    padding-bottom: 10rem;
    background-color: white;
 }
 
 @media screen and (max-width:768px) {
    .carousel1 {
       margin: 2rem;
       flex-direction: column;
       align-items: center;
     }  
 
    .carousel2 {
       margin: 2rem;
       flex-direction: column;
       align-items: center;
    }  
 
    .carousel3 {
       margin: 2rem;
       flex-direction: column;
       align-items: center;  
    }  
 }
 
 .titulo-carousel {
    font-size: 2rem;
    font-weight: bold;
    color: white;
 }
 
 .explicacion {
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: bold;
    color: #f4f1de;
    text-align: inherit;   
 }
 
 .galeria-imagenes-y-fotos img {
    width: 40rem;
    height: 30rem;
 }
 
 .videos iframe {
    width: 40rem;
    height: 30rem;
 }
 
 .galeria-imagenes-y-fotos div {
     display: inline-block;
     overflow: hidden;
     text-align: center; 
     justify-content: space-between;
     margin: 2rem;    
    div:hover {
      display: inline-block;
      overflow: hidden;
      text-align: center; 
      justify-content: space-between;
      margin: 2rem;    
      transform: scale(1.1 , 1.1);
   }
}
 
@media screen and (max-width:768px) {
     .galeria-imagenes-y-fotos {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .galeria-imagenes-y-fotos div:hover {
         transform: scale(0.9 , 0.9);
     }
     .videos {
         display: flex;
         flex-direction: column;
         align-items: center;
         max-width: 100%;
     }
 }