
@mixin size($width, $height) {
    width: $width;
    height: $height;
  }

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}  

@mixin inline {
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.viajar-sola {
  border: solid 0.3rem #d4a373;
  padding: 4rem;
  @include inline;
  justify-content: space-between;
  margin: 0.5rem;
}