.tips-y-recomendaciones {
    display: flex;
    margin: 1rem;

    div {
        border: solid 0.3rem #d4a373;
        padding: 4rem;
        display: inline-block;
        overflow: hidden;
        text-align: center; 
        justify-content: space-between;
        margin: 0.5rem;
    }
    
    div:hover {
       border: solid 0.3rem #d4a373;
       padding: 4rem;
       display: inline-block;
       overflow: hidden;
       text-align: center; 
       justify-content: space-between;
       margin: 0.5rem;
       background-color: #efebce;
       transform: scale(1.1 , 1.1);
    }
    
    img {
        width: 30rem;
        height: 22rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:768px) {
   .tips-y-recomendaciones {
     flex-direction: column;
  }
}
@media screen and (max-width:768px) {
   .tips-y-recomendaciones div:hover {  
      transform: scale(0.95 , 0.95);  
   }  
}

.noticias {
    display: flex;
    justify-content: center;
    margin: 1rem;
    
    div {
        border: solid 0.3rem #d4a373;
        padding: 4rem;
        display: inline-block;
        overflow: hidden;
        text-align: center; 
        justify-content: center;
        margin: 0.5rem;  
    }
    
    div:hover {
       border: solid 0.3rem #d4a373;
       padding: 4rem;
       display: inline-block;
       overflow: hidden;
       text-align: center; 
       justify-content: center;
       margin: 0.5rem;
       background-color: #efebce;
       transform: scale(1.1 , 1.1); 
    }
}

@media screen and (max-width:768px) {
   .noticias {
     flex-direction: column; 
   }
}
  
@media screen and (max-width:768px) {
   .noticias div:hover {  
    transform: scale(0.95 , 0.95);  
   }  
}

.dolar {
    width: 30rem;
    height: 18rem;
}

.ecoturismo {
    width: 30rem;
    height: 20rem;
}