.tips-y-recomendaciones {
    display: flex;
    margin: 1rem;

    div {
        border: solid 0.3rem #d4a373;
        padding: 4rem;
        @include inline;
        justify-content: space-between;
        margin: 0.5rem;
    &:hover {
       border: solid 0.3rem #d4a373;
       padding: 4rem;
       @include inline;
       justify-content: space-between;
       margin: 0.5rem;
       background-color: #efebce;
       transform: scale(1.1 , 1.1);
    }}
    img {
        @include size (30rem, 22rem);
        margin-bottom: 2rem;
    }
}
.noticias {
    display: flex;
    justify-content: center;
    margin: 1rem;
    div {
        border: solid 0.3rem #d4a373;
        padding: 4rem;
        @include inline;
        justify-content: center;
        margin: 0.5rem;  
    &:hover {
       border: solid 0.3rem #d4a373;
       padding: 4rem;
       @include inline;
       justify-content: center;
       margin: 0.5rem;
       background-color: #efebce;
       transform: scale(1.1 , 1.1); 
    }}
}
.dolar {
    @include size (30rem,18rem);
}
.ecoturismo {
   @include size (30rem, 20rem);
}

@media screen and (max-width:768px) {
    .tips-y-recomendaciones {
      flex-direction: column;
     div:hover {  
       transform: scale(0.95 , 0.95);  
    }}  
    .noticias {
      flex-direction: column;
     div:hover {  
     transform: scale(0.95 , 0.95);  
    }}  
}

@media screen and (max-width:399px) {
.tips-y-recomendaciones img { 
  @include size (24rem, 18rem)}
}

@media screen and (max-width:329px) {
    .tips-y-recomendaciones img { 
      @include size (22rem, 17rem)}
    }